@font-face {
    font-family: DroidKufi-Bold;
    src: url(../fonts/NotoSansKufiArabic-Bold.ttf);

}
.input-group .image-input {
    width: 50%;
    height: 250px;
    background-size: 100% auto;
    background-position-y: center;
    background-repeat: no-repeat;
}

.wizard .input-group .image-input {
    width: 100%;
}

.modal .select2 {
    margin-left: 10px;
    width: 95%;
}

.modal .input-group .image-input {
    width: 100%;
}

.notifications a.nav-link {
    color: #1BC5BD !important;
}

.input-group .image-input .image-input-wrapper {
    width: 100%;
    height: 100%
}

.input-group-text {
    border-left-width: 0;
    border-right-width: 0;
}

.input-group-text.custom1 {
    border-left-width: 1px;
    border-radius: 3px 0 0 3px;
}

.input-group-text.custom2 {
    border-right-width: 1px;
    border-radius: 0;
}


.dataTables_wrapper .dataTables_processing {
    width: 200px;
    display: inline-block;
    padding: 7px;
    right: 50%;
    top: 7% !important;
    /*margin-right: -100px;*/
    margin-top: 10px;
    text-align: center;

    border: none !important;
    background: none !important;
    vertical-align: middle;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

*,p,h1,h2,h3,h4,h5,h6,td,th{
    font-family: "DroidKufi-Bold";
}

